$pfx: 'imageundercursor-';
$zindex: 9999999999999; // yes, and I'm not even sure that's enough

%reset {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	width: auto;
	height: auto;
	font-size: 100%;
	font: inherit;
	float: none;
	color: initial;
	text-align: left;
	vertical-align: baseline;
	box-sizing: border-box;
}

.#{$pfx}wrapper {
	.arrow {
		@extend %reset;
		$size: 11px;
		&::after {
			@extend %reset;
			top: 1px;
			left: -$size;
			position: absolute;
			display: block;
			content: ' ';
			border: $size solid transparent;
			border-top-width: 0;
			border-bottom-color: white;
		}
		display: block;
		border: $size solid transparent;
		position: absolute;
		top: -$size;
		margin-left: -$size / 2;
		border-top-width: 0;
		border-bottom-color: rgba(0, 0, 0, .25);
	}

	.body {
		@extend %reset;
		* {
			@extend %reset;
			font-size: 14px !important;
			font-family: helvetica, arial, sans-serif !important;
			color: #333;
		}
		margin: 0;
		padding: 0;
		list-style-type: none;

		$size: 64px;
		$padding: 6px;

		li {
			@extend %reset;
			* {
				@extend %reset;
			}

			position: relative;
			padding: $padding;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			margin: 0;
			height: $size + 2 * $padding;

			&:not(:last-child) {
				border-bottom: 1px solid rgba(0, 0, 0, 0.25);
				height: $size + 2 * $padding + 1px;
			}

			.img {
				width: $size;
				height: $size;
				position: absolute;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				vertical-align: middle;
				display: inline-block;
				border: 1px solid #aaa;
				border-radius: 2px;
				overflow: hidden;
			}
			.video {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
			.info {
				/*font-size: 14px;*/
				color: #777;
				line-height: 1;
				top: 0;
				display: block;
			}
			.link, .info, .btns {
				margin-left: $size + $padding;
			}
			.link {
				text-decoration: none;
				color: #3b5998 !important;
			}
			.link:hover {
				text-decoration: underline;
			}
			.btns {
				position: absolute;
				bottom: $padding;
			}
			.btn {
				$h: 24px;
				$fs: $h / 2;
				$off: 4px;
				display: inline-block;
				height: $h;
				vertical-align: bottom;
				font: inherit;
				font-size: $fs !important;
				line-height: $h;
				border: 1px solid #aaa;
				border-radius: 2px;
				padding-right: $off;
				padding-left: $h;
				background-size: $h - 10px;
				background-repeat: no-repeat;
				background-position: $off center;
				&:not(:last-child) {
					margin-right: 4px;
				}
				&.dl {
					background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MzMuNSA0MzMuNSI+CiAgPHBhdGggZD0iTTM5NS4zIDE1M2gtMTAyVjBoLTE1M3YxNTNoLTEwMmwxNzguNCAxNzguNUwzOTUuNCAxNTN6bS0zNTcgMjI5LjV2NTFoMzU3di01MWgtMzU3eiIvPgo8L3N2Zz4K');
				}
				&.copy {
					background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1NSA1NSI+CiAgPHBhdGggZD0iTTUxLjIgMy44Yy01LTUtMTMuMy01LTE4LjQgMEwyMy42IDEzYy0uOC44LS44IDIgMCAyLjguOC44IDIgLjggMi44IDBsOS4yLTkuMkMzNy4zIDUgMzkuNiA0IDQyIDRjMi40IDAgNC43IDEgNi4zIDIuNnMyLjcgNCAyLjcgNi40YzAgMi40LTEgNC43LTIuNyA2LjRsLTEyIDEyYy0zLjUgMy41LTkuMiAzLjUtMTIuNyAwLS44LS44LTItLjgtMi44IDBzLS44IDIgMCAyLjhjMi41IDIuNSA1LjggMy44IDkuMiAzLjhzNi42LTEuMyA5LjItMy44bDEyLTEyYzIuNC0yLjUgMy44LTUuNyAzLjgtOS4yIDAtMy41LTEuNC02LjgtMy44LTkuMnoiLz4KICA8cGF0aCBkPSJNMjcgNDAuNmwtNy42IDcuN0MxNy43IDUwIDE1LjQgNTEgMTMgNTFjLTIuNCAwLTQuNy0xLTYuNC0yLjdDMyA0NC44IDMgMzkgNi42IDM1LjZMMTggMjQuM2MxLjYtMS43IDQtMi42IDYuMy0yLjYgMi40IDAgNC43IDEgNi40IDIuNi43LjggMiAuOCAyLjggMHMuOC0yIDAtMi44Yy01LTUtMTMuMy01LTE4LjQgMEw0IDMyLjhjLTIuNiAyLjQtNCA1LjctNCA5LjIgMCAzLjUgMS40IDYuNyAzLjggOS4yQzYuMiA1My42IDkuNSA1NSAxMyA1NWMzLjUgMCA2LjctMS40IDkuMi0zLjhsNy44LTcuOGMuNy0uOC43LTIgMC0yLjhzLTItLjgtMyAweiIvPgo8L3N2Zz4K');
				}
				&.flash {
					animation: muFlash 1s ease;
				}
			}
			.btn:hover {
				background-color: #dedede;
			}
		}
	}

	text-align: left;
	background: white;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, .25);
	max-width: 400px;
	position: absolute;
	z-index: $zindex;
	padding: 0;
	margin: 0;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}
@keyframes fadeInOut {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
    80% {
		opacity: 1;
	}
    100% {
		opacity: 0;
	}
}

@keyframes muFlash {
	10% {
		background-color: rgba(85, 170, 85, 1);
	}
	0%, 100% {
		background-color: rgba(85, 170, 85, 0);
	}
}

.#{$pfx}wrapper-nope {
	@extend %reset;
	animation-timing-function: linear;
	animation-fill-mode: both;
	animation-duration: .7s;

	&.fade {
		animation-name: fadeInOut;
		&::after {
			animation: shake .7s cubic-bezier(.36,.07,.19,.97) both;
			transform: translate3d(0, 0, 0);
			backface-visibility: hidden;
			perspective: 1000px;
		}
	}

	&::after {
		display: block;
		position: absolute;
		content: ' ';
		width: 48px;
		height: 48px;
		background: url(chrome-extension://__MSG_@@extension_id__/img/icon-nope-26.png) no-repeat 50% 50%;
	}
	position: absolute;
	margin: 0;
	padding: 0;
	z-index: $zindex;
	height: 48px;
	width: 48px;
	opacity: 1;
	background: url(chrome-extension://__MSG_@@extension_id__/img/icon-48.png) no-repeat 50% 0;
}
